In [1]:
import pandas as pd

df = pd.read_csv('Food_Time_Data_Set.csv')

In [6]:
df[["Type_of_vehicle", "Distance (km)", "temperature", "precipitation", "Traffic_Level", "weather_description", "Type_of_order", "humidity"]]

,Type_of_vehicle,Distance (km),temperature,precipitation,Traffic_Level,weather_description,Type_of_order,humidity
0,motorcycle,NaN,17.11,0.0,Low,haze,Snack,77.0
1,scooter,37.17,19.50,0.0,Very High,mist,Snack,93.0
2,motorcycle,3.34,20.45,0.0,Low,mist,Drinks,91.0
3,motorcycle,10.05,23.86,0.0,Moderate,mist,Buffet,78.0
4,scooter,9.89,26.55,0.0,High,mist,Snack,87.0
...,...,...,...,...,...,...,...,...
9996,motorcycle,18.92,23.96,0.0,High,haze,Meal,64.0
9997,motorcycle,2.64,22.94,0.0,Low,haze,Meal,60.0
9998,scooter,28.80,23.72,0.0,Very High,clear sky,Buffet,31.0
9999,scooter,17.63,28.01,0.0,High,smoke,Meal,57.0
10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN